@import '../../scss/variables';

.title {
  font-weight: 700;
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0 0 6rem 0;
  @media (max-width: $md2) {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $md4) {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}
