@import '../../scss/variables';

.about {
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  letter-spacing: 0.03rem;
  p {
    line-height: 1.6;
  }
  span {
    font-weight: 700;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.info,
.skills {
  background-color: var(--card-bg);
  @include adaptive-value('padding-top', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('padding-bottom', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('padding-left', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('padding-right', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value(
    'border-top-left-radius',
    1.6,
    1.2,
    $fullWidthContainer,
    $minWidth,
    'rem'
  );
  @include adaptive-value(
    'border-bottom-right-radius',
    1.6,
    1.2,
    $fullWidthContainer,
    $minWidth,
    'rem'
  );
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  flex: 1 1 auto;
  gap: 2rem;
}

.skills {
  flex: 1 0 23rem;
  .list {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;
      img {
        max-width: 100%;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.images {
  margin: 2rem 0 0 0;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  img {
    max-width: 100%;
    @include adaptive-value(
      'border-top-left-radius',
      1.6,
      1.2,
      $fullWidthContainer,
      $minWidth,
      'rem'
    );
    @include adaptive-value(
      'border-bottom-right-radius',
      1.6,
      1.2,
      $fullWidthContainer,
      $minWidth,
      'rem'
    );
  }
}
