.about{font-family:"Roboto";display:flex;justify-content:space-between;gap:3rem;letter-spacing:.03rem}.about p{line-height:1.6}.about span{font-weight:700}@media(max-width: 767px){.about{flex-direction:column}}.info,.skills{background-color:var(--card-bg);padding-top:2rem;padding-bottom:2rem;padding-left:2rem;padding-right:2rem;border-top-left-radius:1.6rem;border-bottom-right-radius:1.6rem}@media(max-width: 81em){.info,.skills{padding-top:calc(
      1.2rem + 0.8 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}@media(max-width: 81em){.info,.skills{padding-bottom:calc(
      1.2rem + 0.8 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}@media(max-width: 81em){.info,.skills{padding-left:calc(
      1.2rem + 0.8 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}@media(max-width: 81em){.info,.skills{padding-right:calc(
      1.2rem + 0.8 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}@media(max-width: 81em){.info,.skills{border-top-left-radius:calc(
      1.2rem + 0.4 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}@media(max-width: 81em){.info,.skills{border-bottom-right-radius:calc(
      1.2rem + 0.4 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}.info{display:flex;flex-direction:column;max-width:70rem;flex:1 1 auto;gap:2rem}.skills{flex:1 0 23rem}.skills .list{margin:2rem 0 0 0;display:flex;flex-direction:column;gap:1rem}.skills .list li{display:flex;align-items:center;gap:.5rem;white-space:nowrap}.skills .list li img{max-width:100%;width:24px;height:24px}.images{margin:2rem 0 0 0;gap:2rem;display:grid;grid-template-columns:repeat(auto-fit, minmax(280px, 1fr))}.images img{max-width:100%;border-top-left-radius:1.6rem;border-bottom-right-radius:1.6rem}@media(max-width: 81em){.images img{border-top-left-radius:calc(
      1.2rem + 0.4 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}@media(max-width: 81em){.images img{border-bottom-right-radius:calc(
      1.2rem + 0.4 *
        ((100vw - (32rem)) / (129.6 - 32))
    )}}