@import '../../scss/variables';

.root {
  background-color: var(--card-bg);
  @include adaptive-value('padding-top', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('padding-bottom', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('padding-left', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('padding-right', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value(
    'border-top-left-radius',
    1.6,
    1.2,
    $fullWidthContainer,
    $minWidth,
    'rem'
  );
  @include adaptive-value(
    'border-bottom-right-radius',
    1.6,
    1.2,
    $fullWidthContainer,
    $minWidth,
    'rem'
  );
  transition: all 0.3s ease 0s;
  border: 2px solid transparent;

  @media (any-hover: hover) {
    &:hover {
      border: 2px solid var(--hover);
      .img {
        &::before {
          opacity: 0;
        }
      }
      .title,
      .text {
        color: var(--hover);
      }
      .title {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.img {
  @include adaptive-value(
    'border-top-left-radius',
    1.6,
    1.2,
    $fullWidthContainer,
    $minWidth,
    'rem'
  );
  @include adaptive-value(
    'border-bottom-right-radius',
    1.6,
    1.2,
    $fullWidthContainer,
    $minWidth,
    'rem'
  );
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s ease 0s;
  img {
    max-width: 100%;
    vertical-align: top;
  }
  i {
    position: absolute;
    bottom: 10%;
    left: 5%;
    svg {
      width: 2rem;
      height: 2rem;
      path {
        fill: #030309;
      }
    }
  }
  &::before {
    @media (any-hover: hover) {
      content: '';
    }
    transition: opacity 0.3s ease 0s;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.title {
  @include adaptive-value('margin-top', 2, 1.2, $fullWidthContainer, $minWidth, 'rem');
  @include adaptive-value('font-size', 2.4, 2, $fullWidthContainer, $minWidth, 'rem');
  color: var(--text-primary);
  font-weight: 700;
  transition: color 0.3s ease 0s;
  letter-spacing: 0.1rem;
  position: relative;
  transition: all 0.3s ease 0s;
  display: inline-block;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--hover);
    height: 1px;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
}

.text {
  font-family: 'Roboto';
  margin: 0.8rem 0 0 0;
  line-height: 1.6;
  @include adaptive-value('font-size', 1.6, 1.4, $fullWidthContainer, $minWidth, 'rem');
  color: var(--text-primary);
  transition: color 0.3s ease 0s;
}
