@import '../../scss/variables';

.header {
  background-color: #0b0b24;
  position: fixed;
  border-bottom: 1px solid #fff;
  top: 0;
  left: 0;
  max-height: 8rem;
  width: 100%;
  z-index: 10;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include adaptive-value('font-size', 6, 2.8, $fullWidthContainer, $minWidth, 'rem');
  font-weight: 800;
  letter-spacing: 0.05em;
}

.img {
  img {
    max-width: 100%;
    max-height: 6rem;
  }
}
