.footer {
  background-color: #0b0b24;
  border-top: 1px solid #f2a640;
  padding: 1rem 0;
  color: #fff8f8;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @media (max-width: 424px) {
      flex-direction: column;
    }
  }
}
