:root {
  --background: #f2f2f2;
  --text-primary: #030309;
  --card-bg: rgba(58, 158, 253, 0.5);
  --hover: #030309;
}

[data-theme='dark'] {
  --background: #030309;
  --text-primary: #fff8f8;
  --card-bg: rgba(58, 158, 253, 0.1);
  --hover: #eeff00;
}