.root {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: transparent;
    color: #fff;
  }
}

.delimiter {
  width: 1px;
  height: 20px;
  background-color: #fff;
}
