.root {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  @media (max-width: 1023px) {
    span {
      display: none;
    }
  }
  @media (max-width: 767px) {
    span {
      display: inline-block;
    }
  }
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: transparent;
    color: #fff;
    &.active {
      color: #eeff00;
      font-weight: bold;
    }
  }
}

.delimiter {
  width: 1px;
  height: 20px;
  background-color: #fff;
}
