.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  a {
    max-width: 30rem;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-primary);
    fill: var(--text-primary);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
        fill: var(--hover);
      }
    }
    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
